img{
    padding-left: 5%;
    padding-bottom: 3%;
}
.op{
    text-align: center;
    text-shadow: black;
    color: rgb(255, 43, 43);
    font-size: large;
}
h1{
    text-align: center;
    text-shadow: rgb(2, 2, 2);
    color: rgb(253, 56, 56);
    font-style: oblique;
    font-size: 25px;
}