<div class="op">NARASARAOPETA ENGINEERING COLLEGE</div>

<img src="../../assets/qrcode.jpg" [height]="200" [width]="400" srcset="" />
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3831.402586698275!2d80.0531948741311!3d16.199729935933053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a8729805efff9%3A0x3c49f6f7829f8426!2sNarasaraopeta%20Engineering%20College%20(Autonomous)!5e0!3m2!1sen!2sin!4v1689342509305!5m2!1sen!2sin"
  width="600"
  height="450"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
<img
  src="../../assets/WhatsApp Image 2023-06-30 at 2.45.33 PM.jpeg"
  [height]="200"
  [width]="400"
  srcset=""
/>
<img src="../../assets/f9.jpeg" [height]="200" [width]="400" srcset="" />
<img src="../../assets/e1.jpeg" [height]="200" [width]="400" srcset="" />
<img src="../../assets/e5.jpeg" [height]="200" [width]="400" srcset="" />
<img src="../../assets/e3.jpeg" [height]="200" [width]="400" srcset="" />
<img src="../../assets/e4.jpeg" [height]="200" [width]="400" srcset="" />

<h1>
  We thanking our respected pricipal sir,our Hod sir,to the facualty who are
  helped to complete this project
</h1>
