<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<div class="container-fluid">
<div class="row">
    <div class="col-md-3 mt-4">
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/pho6.jpg" height="250px" width="200px" alt="Card image cap">
        <div class="card-body" id="card">
          <h5 class="card-title">21471A05F6</h5>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <a href="https://goo.gl/maps/YXNq4gFRV59iGkgR7"><i class="fas fa-map"></i></a>
            </div>
            <div class="col">
              <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="col">
              <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/pho2.jpg" height="250px" [width]="150" alt="Card image cap">
        <div class="card-body" id="card">
          <h5 class="card-title">Title</h5>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <a href="https://goo.gl/maps/YXNq4gFRV59iGkgR7"><i class="fas fa-map"></i></a>
            </div>
            <div class="col">
              <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="col">
              <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-3 mt-4">
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/pho10.jpg" height="250px" [width]="150" alt="Card image cap">
        <div class="card-body" id="card">
          <h5 class="card-title">Title</h5>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <a href="https://goo.gl/maps/YXNq4gFRV59iGkgR7"><i class="fas fa-map"></i></a>
            </div>
            <div class="col">
              <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="col">
              <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="col-md-3 mt-4">
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/pho1.jpg" height="250px" [width]="150" alt="Card image cap">
        <div class="card-body" id="card">
          <h5 class="card-title">Title</h5>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <a href="https://goo.gl/maps/YXNq4gFRV59iGkgR7"><i class="fas fa-map"></i></a>
            </div>
            <div class="col">
              <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="col">
              <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-3 mt-4">
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/pho4.jpg" height="250px" [width]="150" alt="Card image cap">
        <div class="card-body" id="card">
          <h5 class="card-title">Title</h5>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <a href="https://goo.gl/maps/YXNq4gFRV59iGkgR7"><i class="fas fa-map"></i></a>
            </div>
            <div class="col">
              <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="col">
              <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-3 mt-4">
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/pho5.jpg" height="250px" [width]="150" alt="Card image cap">
        <div class="card-body" id="card">
          <h5 class="card-title">Title</h5>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <a href="https://goo.gl/maps/YXNq4gFRV59iGkgR7"><i class="fas fa-map"></i></a>
            </div>
            <div class="col">
              <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="col">
              <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-3 mt-4">
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/pho7.jpg" height="250px" [width]="150" alt="Card image cap">
        <div class="card-body" id="card">
          <h5 class="card-title">Title</h5>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <a href="https://goo.gl/maps/YXNq4gFRV59iGkgR7"><i class="fas fa-map"></i></a>
            </div>
            <div class="col">
              <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="col">
              <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="col-md-3 mt-4">
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/pho8.jpg" height="250px" [width]="150" alt="Card image cap">
        <div class="card-body" id="card">
          <h5 class="card-title">Title</h5>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <a href="https://goo.gl/maps/YXNq4gFRV59iGkgR7"><i class="fas fa-map"></i></a>
            </div>
            <div class="col">
              <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="col">
              <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-3 mt-4">
      <div class="card text-center">
        <img class="card-img-top" src="../../assets/pho9.jpg" height="250px" [width]="150" alt="Card image cap">
        <div class="card-body" id="card">
          <h5 class="card-title">Title</h5>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col">
              <a href="https://goo.gl/maps/YXNq4gFRV59iGkgR7"><i class="fas fa-map"></i></a>
            </div>
            <div class="col">
              <a href="mailto:test@test.com"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="col">
              <a href="tel:+123456789"><i class="fas fa-phone"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


