<section class="h-100 bg-dark">
  <div class="container py-0 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-0">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8fXrcoOCIC9ZtjWrbXnUrUeEthk52MkcS_Q&usqp=CAU"
                alt="Sample photo"
                class="img-fluid"
                style="
                  border-top-left-radius: 0.25rem;
                  border-bottom-left-radius: 0.25rem;
                  position: relative;
                  top: 200px;
                  left: 200px;
                "
              />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Student registration form</h3>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example1m"
                        class="form-control form-control-lg"
                        [(ngModel)]="User.Id_No"
                      />
                      <label class="form-label" for="form3Example1m"
                        >Id Number</label
                      >
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example1n"
                        class="form-control form-control-lg"
                        [(ngModel)]="User.Name"
                      />
                      <label class="form-label" for="form3Example1n"
                        >Name</label
                      >
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example1m1"
                        class="form-control form-control-lg"
                        [(ngModel)]="User.UserName"
                      />
                      <label class="form-label" for="form3Example1m1"
                        >User Name</label
                      >
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example1n1"
                        class="form-control form-control-lg"
                        [(ngModel)]="User.Password"
                      />
                      <label class="form-label" for="form3Example1n1"
                        >Password</label
                      >
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    id="form3Example8"
                    class="form-control form-control-lg"
                    [(ngModel)]="User.Age"
                  />
                  <label class="form-label" for="form3Example8">Age</label>
                </div>
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    id="form3Example9"
                    class="form-control form-control-lg"
                    [(ngModel)]="User.DOB"
                  />
                  <label class="form-label" for="form3Example9">DOB</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="text"
                    id="form3Example90"
                    class="form-control form-control-lg"
                    [(ngModel)]="User.Address"
                  />
                  <label class="form-label" for="form3Example90">Address</label>
                </div>
                <div class="d-flex justify-content-end pt-3">
                  <button
                    type="button"
                    class="btn btn-warning btn-lg ms-2"
                    (click)="Insert()"
                    routerLink="/home"
                  >
                    SignUp
                  </button>
                </div>
                <div
                  class="alert alert-success my-2"
                  *ngIf="!(SuccessMsg == '')"
                >
                  {{ SuccessMsg }}
                </div>
                <div class="alert alert-danger my-2" *ngIf="!(ErrorMsg == '')">
                  {{ ErrorMsg }}
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
