<div class="container">
  <div class="content">
    <form action="#">
      <div class="user-details">
        <div class="input-box">
          <span class="details" style="color: orange; font-size: 20px"
            >ID NO:</span
          >
          <input type="text" placeholder="Enter your ID" required />
        </div>
        <div class="input-box">
          <span class="details" style="color: orange; font-size: 20px"
            >NAME:</span
          >
          <input type="text" placeholder="Enter your username" required />
        </div>
        <div class="input-box">
          <span class="details" style="color: orange; font-size: 20px"
            >USER_NAME:</span
          >
          <input type="text" placeholder="username" required />
        </div>
        <div class="input-box">
          <span class="details" style="color: orange; font-size: 20px"
            >AGE :</span
          >
          <input type="text" placeholder="00" required />
        </div>
        <div class="input-box">
          <span class="details" style="color: orange; font-size: 20px"
            >DATE OF BIRTH:</span
          >
          <input type="text" placeholder="00/00/0000" required />
        </div>
        <div class="input-box">
          <span class="details" style="color: orange; font-size: 20px"
            >PASSWORD:</span
          >
          <input type="text" placeholder="sunny@88" required />
        </div>

        <div class="input-box">
          <span class="details" style="color: orange; font-size: 20px"
            >ADDRESS:</span
          >
          <input type="text" placeholder="address" required />
        </div>
      </div>

      <div class="category"></div>
      <div class="button">
        <h1>
          <a href="sunny.html" class="btnone"><b>REGISTER</b></a>
        </h1>
      </div>
    </form>
  </div>
</div>

<script>
  var video = document.getElementById("myVideo");
  var btn = document.getElementById("myBtn");

  function myFunction() {
    if (video.paused) {
      video.play();
      btn.innerHTML = "Pause";
    } else {
      video.pause();
      btn.innerHTML = "Play";
    }
  }
</script>
